<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" data-bind="style: {backgroundImage: bgImg}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 data-bind="text: title"></h1>
                    <hr class="small">
                    <span class="subheading" data-bind="text: subtitle"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>In the mid-1990's, I had to find a "serious" job to provide for my kids.  Because I was told that there was a future in computer programming and because it's something that I tinkered with for years, I decided to go for that program at the local college.</p>
            <p>In 1999, I graduated and got my first job as a programmer.  I moved to the national capital region and worked for the government, just like every responsible adult did. </p>
            <p>I hated it</p>
            <p>A few years later, a series of events gave me to opportunity to change my life.  I decided to go back to school and do something that I was interested in.  I went for a bachelor degree in physics.</p>
            <p>As a student, I met this incredible prof who did computational astrophysics.  When I saw his work, I was fascinated by it and started working with him.  I did not realized it at that time but I fell in love with programming.</p>
            <p>Since then, I've been in the tech industry (and never worked in the astrophysics field) and whenever I can, I try to share this passion with people.</p>
        </div>
    </div>
</div>