<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" data-bind="style: {backgroundImage: bgImg}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 data-bind="text: title"></h1>
                    <hr class="small">
                    <span class="subheading" data-bind="text: subtitle"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>This is my little space on the web.  It is meant to be the main page for my blog but all my other stuff as well.</p>
            <p>If you are interested in some of the stuff that I write, take a look a the <a href="#!blog">blogging</a> section.</p>
            <p>If you are more interested in my speaker profile, by all means, take a look at my <a href="#!speaking">past and future</a> presentations.</p>
            <p>And if you just want to contact me for any reason, drop me a <a href="mailto:me@joel-lord.com">mail</a>.</p>
        </div>
    </div>
</div>